
<script>
$(document).ready(function(){
  $(function(){
    $("#slides").slidesjs({
      maxWidth: 1000,
      maxHeight: 625
    });
  });
});
</script>


<body>
  <% if @emotion.name == "happy" %>
    <div id="slides">
      <img src="../images/be_happy-wallpaper.jpg">
      <img src="../images/cat-glasses.jpg">
      <img src="../images/cereal-smiley.jpg">
      <img src="../images/color-run.jpg">
      <img src="../images/girlhappy.jpg">
      <img src="../images/happy-dog.jpg">
      <img src="../images/minions.jpg">
      <img src="../images/pink-smiley.jpg">
      <img src="../images/just-be-happy.jpg">
      <img src="../images/happy/are-you-happy.jpg">
      <img src="../images/happy/because-im-happy.jpg">
      <img src="../images/happy/birthday-mouse.jpg">
      <img src="../images/happy/chamomile.jpg">
      <img src="../images/happy/finger-friends.jpg">
      <img src="../images/happy/happy-1.jpg">
      <img src="../images/happy/happy-baby.jpg">
      <img src="../images/happy/happy-cat.jpg">
      <img src="../images/happy/happy-child.jpg">
      <img src="../images/happy/happy-family.jpg">
      <img src="../images/happy/happy-feet.jpg">
      <img src="../images/happy/happy-love.jpg">
      <img src="../images/happy/happy-smiley.jpg">
      <img src="../images/happy/happy-sun.jpg">
      <img src="../images/happy/like-a-child.jpg">
      <img src="../images/happy/married-barefoot.jpg">
      <img src="../images/happy/winter-happiness.jpg">
    </div>
  <% else @emotion.name == "sad" %>
    <div id="slides">
      <img src="../images/sad/balloon.jpg">
      <img src="../images/sad/bird-in-rain.jpg">
      <img src="../images/sad/elephant.jpg">
      <img src="../images/sad/foggy-day.jpg">
      <img src="../images/sad/girl-rain.jpg">
      <img src="../images/sad/lonely-corner.jpg">
      <img src="../images/sad/man-rain.jpg">
      <img src="../images/sad/moments.jpg">
      <img src="../images/sad/puppy-eyes.jpg">
      <img src="../images/sad/sad-angel.jpg">
      <img src="../images/sad/sad-boy-clown.jpg">
      <img src="../images/sad/sad-cat.jpg">
      <img src="../images/sad/sad-chibi.jpg">
      <img src="../images/sad/sad-child.jpg">
      <img src="../images/sad/sad-danbo.jpg">
      <img src="../images/sad/sad-dog.jpg">
      <img src="../images/sad/sad-kitty.jpg">
      <img src="../images/sad/sad-rain.jpg">
      <img src="../images/sad/sad-robot.jpg">
      <img src="../images/sad/sad-sketch.jpg">
      <img src="../images/sad/sad-tree.jpg">
      <img src="../images/sad/tear.jpg">
    </div>
  <% end %>
</body>

















