
<script>
$(document).ready(function(){
  $(function(){
    $("#slides").slidesjs({
      maxWidth: 1000,
      maxHeight: 625
    });
  });
});
</script>


<body>
  <% if @emotion.name == "happy" %>
    <div id="slides">
      <% find_images('happy').each do |image| %>
        <img src =<%= image.file %>>
      <% end %> 
    </div>
  <% else @emotion.name == "sad" %>
    <div id="slides">
      <% find_images('sad').each do |image| %>
        <img src =<%= image.file %>>
      <% end %>
    </div>
  <% end %>

  <%= render '/emotions/jplayer' %> 
</body>


















