
<% if @emotion.name == "happy" %>
	<% @happyVids = find_videos('happy') %>
	

	<% puts '$' *50 %>
  <% @video = @happyVids[rand(0..@happyVids.size-1)] %>
  <% puts @video.file %>
  <% @name = @video.name %>
  <% @file = @video.file %>  
  <% puts '$' *50 %>

	<% content_for :stylesheets do %>
  	body {background-color: pink;}
	<% end %>
<% elsif @emotion.name == "sad" %>
	<% @sadVids = find_videos('sad') %>

	<% @video = @sadVids[rand(0..@sadVids.size-1)] %>
  <% @name = @video.name %>
  <% @file = @video.file %>  

	<% content_for :stylesheets do %>
  	body {background-color: lightblue;}
	<% end %>

<% else %>

<% end %>



<div id="menuContainer">

	<h3 class="menu"> Menu </h3>

	<div class="menu">
		<ul>
			<li> <%= link_to 'Add a Video', home_video_form_path %> </li>
		</ul>
	</div>

</div>

<div class="space"> </div>

<div id="videoBox">
<h1> Video: <%= @name %> </h1>
<iframe width="1280" height="720" src=http://<%= @file %> frameborder="0" allowfullscreen></iframe> <br/>
</div>


<!-- Get if happy or if sad
get collection of videos that pertains to happy or sad
output only video from that collection -->
