
<% if @emotion.name == "happy" %>
	<% @happyVids = find_videos('happy') %> 
  <% @video = @happyVids[rand(0..@happyVids.size-1)] %> 
  <% @name = @video.name %>
  <% @file = @video.file %>   

	<% content_for :stylesheets do %>
  	body {background-color: pink;}
	<% end %>
<% elsif @emotion.name == "sad" %>

	<% @sadVids = find_videos('sad') %> 
	<% @video = @sadVids[rand(0..@sadVids.size-1)] %>
  <% @name = @video.name %>
  <% @file = @video.file %>  

	<% content_for :stylesheets do %>
  	body {background-color: lightblue;}
	<% end %>

<% else %>

<% end %>



<div id="menuContainer">
	
	<h3 id="refresh"> Refresh the page for another video! </h3>
	<h3 class="buttons" id="menu"> Menu </h3>

	<div class="buttons" id="menuField">
		<ul>
			<li> <%= link_to 'Add Your Own Video!', home_video_form_path %> </li>
		</ul>
	</div>

</div>

<div class="space"> </div>

<div id="videoBox">
<h1> Video: <%= @name %> </h1>
<iframe width="1280" height="720" src=http://<%= @file %>?rel=0&autoplay=1 frameborder="0" allowfullscreen></iframe> <br/>
</div>

<div class="footspace"> </div>
