<nav>
	<div class="logo">  
			<%= link_to image_tag('logo.png'), root_path %> 
	</div>  
	<% if current_user %>
		<!-- signout --> 
			<%= link_to "sign out", destroy_user_session_path, method: :delete, class: :button %> 
	<% else %>
		<!-- sign in, sign up --> 
		<div class="buttons"> 
			<div id="sign_in_button">Sign In</div> |
			<div id="sign_up_button">Sign Up</div> 
		</div>
	<% end %>
</nav>

<!-- add admin signout -->
