<script>
  $(document).ready(function(){

    var images = '<%= @images_name %>';
    images = images.split(',');
    console.log(images);


    $(function(){
      $("#slides").slidesjs({
        width: 940,
        height: 528
      });
    });
  });
</script>


<body>
  <% if @emotion.name %>
    <div id="slides">
      <% find_images(@emotion.name).each do |image| %>
        <img src =<%= image.file %>>
      <% end %>
    </div>
  <% else %> 
    <!-- IMAGE NOT FOUND -->
  <% end %>
  <%= render '/partials/soundManager2' %>

</body>

















