<% if @emotion.name %>
	<% videos = find_videos(@emotion.name) %> 
  <% video = videos[rand(0..videos.size-1)] %> 
  <% name = video.name %>
  <% file = video.file %>  
<% else %> 
	<!-- VIDEO NOT FOUND -->
<% end %>
 
<div id="menuContainer">

	<h3 class="buttons" id="menu"> Menu </h3>

	<div class="buttons" id="menuField">
		<ul>
			<li> <%= link_to 'Add Your Own Video!', home_video_form_path %> </li>
		</ul>
	</div>

</div>

<div class="space"> </div>

<div id="videoBox">
<h1> Video: <%= name %> </h1>
<iframe width="1280" height="720" src=http://<%= file %>?rel=0&autoplay=1 frameborder="0" allowfullscreen></iframe> <br/>
</div>

<div class="footspace"> </div>


