<h1>I want to feel... </h1>
  
<%= form_tag(home_show_path, method: :post) do %> 
	<%= select_tag(:name, options_for_select([['happy', emotion_id("happy")],
											['sad',   emotion_id("sad")]])) %>
	<%= submit_tag 'Submit' %>
  
<% end %>

