<h1>I want to feel... </h1>
  
<div>
	<%= select_tag(:name, options_for_select([['happy', 1], ['sad', 2]])) %>
</div>


<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %> 
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>


