<p>Landing page ... let's choose how'd you like to feel. </p>

<%= render 'form' %>

<!-- <div id='choose'>
	<select name='Feelings'>
		<option value="Happy"> Happy </option>
		<option value="Sad"> Sad </option>
	</select>

	<input type="submit" name="submit" value="Submit"

</div> -->