<div>
	<% if @emotion.name == "happy" %>
		<%= render '/emotions/happy' %>
	<% else %>
		<%= render '/emotions/sad' %>
	<% end %>
</div> 


<% if @selected == 'video' %>

<% elsif @selected == 'music' %>

<% else %>
<% end %>
