<div>
	<% if @emotion.name == "happy" %>
		<!-- render '/emotions/happy'  -->
		<%= render '/emotions/video' %>
	<% else %>
		 <!-- render '/emotions/sad'  -->
		 <%= render '/emotions/video' %>
	<% end %>
</div>
