<h1> The feeling is <%= @emotion.name %>. </h1>
<div> 
	<% if @emotion.name %>
		<% if @selected == 'video' %>
			<%= render '/partials/video' %>
		<% else @selected == 'music' %>
			<%= render '/partials/images' %>
		<% end %> 
	<% else %>
		<!-- PAGE NOT FOUND -->
	<% end %>
</div> 
