<div>
	<% if @emotion.name == "happy" %>
		<!-- render '/emotions/happy'  -->
		<%= render '/emotions/happy' %>
	<% else %>
		 <!-- render '/emotions/sad'  -->
		 <%= render '/emotions/sad_vid' %>
	<% end %>
<<<<<<< HEAD
</div> 


<% if @selected == 'video' %>

<% elsif @selected == 'music' %>

<% else %>
<% end %>
=======
</div>
>>>>>>> 50831e6df87265903ecad6023692033c1ff12c20
