<div class="render_page">  
	<% if @emotion.name %> 

		<% content_for :stylesheets do %>
	  	.render_page {background-color: <%= get_color(@emotion.name).hexcode %>; }
		<% end %>   

		<% if @selected == 'video' %>		
			<%= render '/partials/video' %>
		<% else @selected == 'music' %>
			<%= render '/partials/images' %>
		<% end %> 
	<% else %>
		<!-- PAGE NOT FOUND -->
	<% end %>
</div> 

<script type="text/javascript"> 
 
	$('.render_page').animate({backgroundColor: '<%= get_color(@emotion.name).hexcode %>' }, 8000);
 
</script>





