/*
Error: Invalid CSS after "}*\/": expected "}", was ""
        on line 443 of app/assets/stylesheets/main.scss

Backtrace:
app/assets/stylesheets/main.scss:443
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/scss/parser.rb:1163:in `expected'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/scss/parser.rb:1099:in `expected'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/scss/parser.rb:1094:in `tok!'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/scss/parser.rb:643:in `block'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/scss/parser.rb:660:in `block_child'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/scss/parser.rb:42:in `parse'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/engine.rb:393:in `_to_tree'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/listen-2.7.11/lib/listen/listener.rb:282:in `call'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/listen-2.7.11/lib/listen/listener.rb:282:in `_process_changes'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/listen-2.7.11/lib/listen/listener.rb:239:in `block in _wait_for_changes'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/listen-2.7.11/lib/listen/listener.rb:222:in `loop'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/listen-2.7.11/lib/listen/listener.rb:222:in `_wait_for_changes'
/Users/keikajones/.rvm/gems/ruby-2.1.1/gems/listen-2.7.11/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}*/\": expected \"}\", was \"\"\A         on line 443 of app/assets/stylesheets/main.scss"; }
