body {
	
}

.happyface {
	height: 400px;
	width: 400px;
	background-image: url("/assets/happy.gif");
}

.sadface {
	height: 400px;
	width: 400px;	
	background-repeat: none;
	background-size: 100%;
	background-position: center;
	/*background-attachment: fixed;*/
	background-image: url("/assets/sad.jpg");
}