
@media all and (min-width: 0px){
	body {  
	} 
	a{
		text-decoration: none;
		color: #333;
	}
	a:hover{
		text-decoration: none;
		color: orange;
	} 
 
	%box_xs{
		width: 200px;
		height: auto;
		font-size: 0.65em; 
		padding-left: 15px;
		padding-bottom: 10px;
		border-radius: 5px;
		border: 1px solid #333;
		position:relative;
		z-index: 50;
		top: 300px; 
		display: none;  
	}  

	#wrapper{
		width: 90%;
		height: 480px;
		// background-color: pink;
		margin: 0 auto;

		nav{
			width: 100%; 
			height: 30px;
			background-color: gold; 
			font-size: 1em;
			.logo{
				width: 100%; 
				background-color:orange;
				display: inline-block;
				padding: 5px;
				margin: 0 auto;
				text-align: center;
			} 
			.buttons{
				width: 90%; 
				padding: 5px;
				background-color:lightgreen; 
				text-align: center;
				position: absolute;
				z-index: 50;
				top: 250px; 
				div{ 
					display: inline-block;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		} 
		.sign_in{ 
			@extend %box_xs;
		} 

		.sign_up{ 
			@extend %box_xs; 
		}
	}
	 
  .home_index{  
  	width: 100%;  
  	position: absolute;
  	z-index: 10; 
  	top: 0;

  	// background-color: lightblue;
  	h1 { 
			font-size: 2em; 
			font-family: impact;
			text-align: center;  
		}
  	.form{
			text-align: center;
			font-size: 1em;
			.select{ 
		  	width: 70%; 
		  	padding: 5px;  
		  } 
		  .radio_button{   
				display: inline-block;
				text-align: left; 
				position: relative;
				top: 2px;
			}  
			.button{ 
				margin: 10px;
				width: 50%;
			}
		}
  }
}

#slides {
  display: none;
}
  
@media all and (min-width: 480px){} 
@media all and (min-width: 768px){}
@media all and (min-width: 992px){}
@media all and (min-width: 1200px){

	%box_xl{
		width: 250px;
		height: auto;
		font-size: 1em;
		// background-color:lightblue;  
		padding-left: 15px;
		padding-bottom: 10px;
		border-radius: 5px;
		border: 1px solid #333;
		float: right;  
		position: relative;
		top: 0px;
		display: none; 
	}

	#wrapper{
		width: 90%;
		height: 600px;
		// background-color: pink;
		margin: 0 auto;

		nav{
			width: 100%; 
			height: 50px;
			background-color: gold;
			float: left; 
			font-size: 2em;
			margin: 0 auto;
			.logo{
				width: 20%; 
				background-color:orange;
				display: inline-block;
				padding: 5px;
			} 
			.buttons{
				width: 25%; 
				padding: 5px;
				background-color:lightgreen;  
				float: right;
				text-align: center;
				position: relative;
				top: 0px;
				div{ 
					display: inline-block;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		} 
		.sign_in{ 
			@extend %box_xl;
		} 

		.sign_up{ 
			@extend %box_xl; 
		}
	}
	 
  .home_index{  
  	width: 100%;
  	position: relative;
  	top: 100px; 

  	// background-color: lightblue;
  	h1 { 
			font-size: 5em;
			font-family: impact;
			text-align: center;  
		}
  	.form{
			text-align: center;
			font-size: 3em;
			.select{ 
		  	width: 30%; 
		  	padding: 10px;  
		  } 
		  .radio_button{  
				transform: scale(2); 
				display: inline-block;
				text-align: left; 
				position: relative;
				top: -12px;
			}  
			.button{ 
				margin: 10px;
				width: 20%;
			}
		}
  }

/*----------------- video partial page css ------------------*/
  
	#videoBox {
	text-align: center;
	vertical-align: middle;
	}

	#menuContainer {
		height:50px;

		#menu {
			border: 1px solid black;
			border-radius: 5px;
			float: right;
			margin-top: 0;
			margin-right: 15px;
			margin-bottom: 10px;
			display: inline-block;
			padding: 10px;
			background-color: lightgray;
		}
	}

	.space {
		height: 10px;
	}

	#menuField {
		float: right;
		font-size: 2em;
		background-color: lightgray;
		padding-right: 25px;
		border: 1px solid black;
		border-radius: 5px;
		margin-bottom: 10px;


		ul {
			list-style: none;
		}
	}

	#select_video {
		width: 300px;
	}
}

