/*
Syntax error: Invalid CSS after "}": expected selector or at-rule, was "}"
        on line 227 of app/assets/stylesheets/main.scss

222: 	}
223: }
224: 
225: 
226: 
227: }

Backtrace:
app/assets/stylesheets/main.scss:227
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/scss/parser.rb:1085:in `expected'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/scss/parser.rb:28:in `parse'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/Users/kenguie/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected selector or at-rule, was \"}\"\A         on line 227 of app/assets/stylesheets/main.scss\A \A 222: 	}\A 223: }\A 224: \A 225: \A 226: \A 227: }"; }
